/* Jewelry.css */

/* Reset styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
   
}

/* Section styling */
.jewelry {
    background-color: #f8f8f8;
    padding: 40px;
    text-align: center;
    
}

/* Container styling */
.column {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Tabs styling */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow:auto;
    
}
ul{
    list-style-type: none;
}

.single-tab {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px ;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
}

.single-tab:hover {
    background-color: #e0e0e0;
}

.active-tab {
    background-color: #face8c;
    font-weight: bold;
    border-bottom: 2px solid #ffac33;

}

/* Tab content styling */
.tab-content {
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
    overflow: scroll;
}

.content {
    display: none;
}

.active-content {
    display: block;
}

/* Grid layout for jewelry items */
.jewelry-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Style the jewelry item cards */
.jewelry-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s ease-in-out;
}

.jewelry-item:hover {
    transform: translateY(-3px);
}

/* Typography */
h1, h2, h3 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Add more styles for specific elements, buttons, etc. */
@media only screen and (max-width: 536px) {
    .tabs{
        
        flex-direction: column;
    }
}
@media only screen and (max-width: 360px) {
    
}