/* login.css */

/* Center the login form */
.container-scroller {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    
    justify-content: left;
    height: 100%;
    width: 100%;
    
    
      }

      
  /* Styling for the login form */
  .auth-form-light {
    
    
    border-radius: 0.25rem;
    padding: 2.5rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
display: flex;
gap: 20px;
flex-direction: column;  
}
  
  /* Styling for the logo */
  .brand-logo img {
    max-width: 100px;
    height: auto;
  }
  
  /* Styling for the form fields */
  .form-control-lg {
    border-radius: 0.25rem;
    margin-bottom: 20px;
  }
  
  /* Styling for the "Sign In" button */

  .btnn{
    border: none;
    padding: 7px 25px;
    background: #edcb51;
    color: #66254f;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap; 
  }
  /* Styling for the checkbox label */
  .form-check-label {
    font-weight: 400;
  }
  
  /* Styling for the "Create" link */
  .text-primaryy {
    color: #f97509;
    font-weight: 600;
    text-decoration: underline;
  }
  
  /* Styling for the "Connect using Facebook" button */
  .btn-facebook {
    background-color: #3b5998;
  }
  
  /* Styling for the Facebook icon */
  .typcn-social-facebook {
    font-size: 1.25rem;
  }
  