.single__product-content {
  padding-left: 50px;
}

.product__price {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0;
}
.product__price span {
  font-size: 2rem;
}

.category {
  font-weight: 600;
  color: #212245;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 10px;
}

.category span {
  padding: 5px 10px;
  background: #fde4e4;
  color: #212245;
  border-radius: 5px;
}

.tabs {
  border-bottom: 1px solid #fde4e4;
  
}

.tabs h6 {
  cursor: pointer;
  color: #615e5e;

}

.tab__content {
  padding: 30px 0px;
}

.tab__content p {
  line-height: 30px;
  color: #212245b6;
}

.tab__active {
  color: #df2020;
}
.aa{width:100px;
  margin-top: 40px;
  border-radius: 100px;
  border: 1.6px solid rgb(141, 133, 133);
  display: flex;
  height:95px
}
.aa:hover{
  scale:1.1
}

.cond{
  width:100px;
  margin-top: 40px;
  border-radius: 100px;
  border: 1.6px solid rgb(141, 133, 133);
  display: flex;
  height:95px;
  outline: 4px solid #ffcc00
}
.bb{
 border: 1px solid rgb(141, 133, 133);
  display: flex;
  width: 300px;
  height:300px;
  margin: auto;
  margin-left:30px ;
  border-radius: 180px;

}
.first-row{
  display: flex;
  
}
.first-of-row{
  display: flex;
  padding-top: 50px;
  margin-left: 50px;
  flex-direction: row;
}
.product__images {
  

    height: 300px;
    padding-right: 100px;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  margin-top: -8px;
  cursor: pointer;
}
.form {
  width: 60%;
  margin: auto;
  background: #fde4e4;
  padding: 20px;
  border-radius: 5px;
}

.form__group {
  margin-bottom: 30px;
}
.form__group input,
.form__group textarea {
  width: 100%;
  background: transparent;
  padding: 7px 20px;
  border: none;
  border-bottom: 1px solid #2122454c;
}

.form__group input:focus,
.form__group textarea:focus {
  outline: none;
}

.user__name {
  font-weight: 600;
  color: #212245;
}

.user__email {
  font-size: 0.8rem;
}

.feedback__text {
  color: #212245b6;
}

.img__item {
  cursor: pointer;
  
  
}
.related__Product-title {
  font-size: 1.4rem;
}


@media only screen and (max-width: 984px) {
  .first-of-row{
    flex-direction: column;
  }
  .bb{margin-bottom: 50px;
    margin-left: 20px;
  }
  
}  

@media only screen and (max-width: 768px) {
  .first-of-row{
    margin-left: auto;
  }
  .product__title {
    font-size: 1.2rem;
  }
  .product__price,
  .product__price span {
    font-size: 1rem;
  }
  .category,
  .category span {
    font-size: 0.8rem !important;
  }

  .tabs {
    margin-top: 30px;
  }
  .tabs h6 {
    font-size: 0.9rem;
  }

  .tab__content p,
  .user__name,
  .feedback__text {
    font-size: 0.8rem;
  }
  .user__email {
    font-size: 0.7rem;
  }

  .form {
    width: 100% !important;
    margin-top: 50px;
  }

  .form__group input::placeholder,
  .form__group textarea::placeholder {
    font-size: 0.8rem;
  }
  .related__Product-title {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  .product__images {
    display: flex;
   margin-left:100px ;
    gap: 40px;
   flex-direction: row;
   margin-bottom:20px ;
   
  }
  .bb{
   
    margin-left: auto;
    margin-top: -50px;
  }
  .aa{
    margin-right: auto;
   
    margin-bottom: 20px;
    
  }
  
.cond{margin-left: auto;
  
  margin-bottom: 20px;}
  .product__main-img {
    margin-bottom: 20px;
  }
  .first-row{
    flex-direction: column-reverse;
  }

}
@media only screen and (max-width: 356px) {

  .product__images{overflow-x: scroll;
    margin-left: auto;
    padding-right: 0;
  }
  }  
  @media only screen and (max-width: 316px) {
   .product__images{
    flex-direction: column;
    margin-top: auto;
   }
    .bb{
      width:250px;
      height:250px
    }
    .single__product-content {
      padding-left: 0px
    }}
    @media only screen and (max-width: 274px) {
      .bb{width:200px;height:200px}
      .product__images{gap:0px;overflow: scroll;
        margin-top: -50px;}}
     @media only screen and (max-width: 222px) {
        .bb{width:120px;
          height:120px}
        .product__images{gap:0px;
        margin-top: -50px;}

        }