/* login.css */

/* Center the login form */
.container-scrollerr {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  margin-bottom:50px;
     overflow-y: auto;
     }
     .ola{
      justify-content: center;
      display: flex;
     }
  
  /* Styling for the login form */
  .auth-form-light {
    background-color: #f8e2d8;
    border-radius: 0.25rem;
    padding: 2.5rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
display: flex;
gap: 20px;
flex-direction: column;  
}
.aha{
    display:flex ;
  
    flex-wrap: wrap;
    flex-direction: column;
}
  
  /* Styling for the logo */
  .brand-logo img {
    max-width: 100px;
    height: auto;
  }
  
  /* Styling for the form fields */
  .form-control-lg {
    border-radius: 0.25rem;
    margin-bottom: 20px;
  }
  
  /* Styling for the "Sign In" button */

 
  /* Styling for the checkbox label */
  .form-check-label {
    font-weight: 400;
  }
  
  /* Styling for the "Create" link */

  
  /* Styling for the "Connect using Facebook" button */
  .btn-facebook {
    background-color: #d8dbe1;
  }
  
  /* Styling for the Facebook icon */
  .typcn-social-facebook {
    font-size: 1.25rem;
  }
  